.class_test
{
    color: greenyellow;
    font-weight: bold;
}

#id_test
{
    color: chocolate ;
    font-weight: bold;
}

a[href="page2.html"]
{
    font-style: italic;
}

a[href*="page"]
{
    font-size: 40px;
}