body
{
    background: repeat linear-gradient(270deg, rgb(124, 190, 210) 33%, rgb(27, 156, 215) 66%, rgb(7, 89, 115) 100%);
    text-shadow: 6px 6px 6px black;
    color: white;
}

.border
{
    border: dashed 20px orange;
    margin:30px 30px ;
}

.article_1
{
    background: no-repeat url("pingouin.png") red border-box;
    background-size: contain;
}
.article_2
{
    background: no-repeat url("pingouin.png") #07363b padding-box;
    background-size: contain;
}
.article_3
{
    background: no-repeat url("pingouin.png") #4bde1d content-box;
    background-size: contain;
    padding: 10px;
    /*margin: 10px 10px;*/
}

