h1
{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    background: lightgoldenrodyellow;
    color: red;
}
h2
 {
     font-family: Arial;
     font-size: 15px;
     font-weight : bold;
     color: blue;
 }
h3
{
    font-size: 13px;
    text-decoration: underline;
}
li
{
    list-style-type: circle;
}
.styleBasique
 {
     font-family: Courier News;
     font-size: 12px;
     text-align: justify;
 }
.informationsDocument
{
    font-family: Arial;
    font-size: 16px;
    color: violet;
    text-align: center;
    line-height:20px
}
.paragrapheType1
{
    font-family: Arial;
    font-size: 11px;
    text-indent : 20px;
    margin: 25px 0;
}
.paragrapheType2
{
    font-family: "Times New Roman";
    font-size: 12px;
    font-style: italic;
    margin: 10px 1cm 20px 1cm;
}
.paragrapheType3
{
    margin-bottom: 20px;
    margin-top: 10px;
    text-indent: 12px;
}
.paragrapheType4
{
    color: lightblue;
}