body
{
    background: repeat linear-gradient(270deg, rgb(124, 190, 210) 33%, rgb(27, 156, 215) 66%, rgb(7, 89, 115) 100%);
}

.article_1
{
    background: red border-box;
    border: dashed 20px gray;
}
.article_2
{
    background: #07363b;
}
.article_3
{
    background: #4bde1d;
}
