/*html{*/
/*    background: green;*/
/*    z-index: 0;*/
/*}*/
section
{
    margin: 20px 0;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    /*font-family: 'Roboto Flex', sans-serif;*/
}
h1
{
    padding: 20px 0;
    /*display:inline;*/
    margin: auto;
    text-align: center ;
}
main
{
    /*border: solid 1px red;*/
    /*position: relative;*/
    margin: auto;
    width: 95%;
    height: auto;
}
article
 {
     display: flex;
     width: 600px;
     flex-direction: column;
     /*border: chocolate 2px dotted;*/
     color: white;
    font-weight: bold;
 }
.cadreImage
{
    width: 100%;
    height: 300px;
    /*border: 1px solid black;*/
    display: flex;
}

.imageIllustration
{
    margin:auto;
    /*position: relative;*/
    border: solid 1px white;
    /*position:relative;*/
    width: auto;
    height: 300px;
    transition-property: scale;
    transition-duration: 500ms;
    transition-delay: 100ms;
    cursor: pointer;
}
.imageIllustration:active
{
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    scale: 2.3;
}
.titreDescription
{
    text-decoration: underline;
    padding: 15px 0;
    font-size: 1.7em;
    margin: auto;
    text-align: center;
}
.languageUtilise{
    text-decoration: underline;
    padding: 10px 0;
    margin: auto;
    font-size: 1.2em;
    text-align: center;
    /*color: #000000;*/
}
.infoBonus{
    text-decoration: underline;
    display: block;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 15px auto;
    font-size: 1.2em;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 177, 255, 0.25);
    transition: background 200ms;
}
.infoBonus:hover{
    background: rgba(0, 51, 255, 0.54);
}