@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');


html
{
    font-family: 'Roboto Flex', sans-serif;
    color: #ffffff;
}
a
{
    text-decoration: unset;
}

body
{
    /*https://www.heroscreen.cc/2021/02/laptop-wallpaper-1080p.html*/
    background: url(wallpaper.jpg) no-repeat;
    background-size:100%;
    margin-top: 20px;
}