a
{
    text-decoration: unset;
}

body
{
    /*https://www.heroscreen.cc/2021/02/laptop-wallpaper-1080p.html*/
    /*background: url(wallpaper.jpg) no-repeat;*/
    /*background-size:100%;*/
    margin-top: 20px;
}
.flexbox
{
    width: 95%;
    display: flex;

    margin: auto;

    /*background: rgba(255, 0, 0, 0.46);*/
}
nav
{
    flex-wrap: wrap;
    position: relative;
    right: 0;
    justify-content:flex-end;
}
.itemActuel
{
    color: orange;
}
.itemNonActuel
{
    color: #ffffff;
}
.item
{

    cursor: pointer ;
    /*border: solid 3px black;*/
    font-size: 0.8em;
    text-align: center;
    /*background: #00A4BC;*/
    /*border-radius: 10px;*/
    flex:1;
    max-width: 180px;
    margin: 4px 10px ;
    font-family: "Heroes Legend", serif;
    transition: color 300ms;


}
.item:hover
{
    color: red;
    /*background: #89ecff;*/
    /*border: solid 3px #395159;*/
}
#pp
{
    size: 50px;
    object-fit: none;
    border-radius: 26px ;
    margin:0 15px 10px 0
}

/*.pageActuelle*/
/*{*/
/*    border: solid 3px #014150;*/
/*}*/